/* Color Theme Swatches in Hex */
.Color-Theme-4-1-hex { color: #FFE6CC; }
.Color-Theme-4-2-hex { color: #FFC800; }
.Color-Theme-4-3-hex { color: #F2AC29; }
.Color-Theme-4-4-hex { color: #F27B50; }
.Color-Theme-4-5-hex { color: #F26666; }

/* Color Theme Swatches in RGBA */
.Color-Theme-4-1-rgba { color: rgba(255, 229, 203, 1); }
.Color-Theme-4-2-rgba { color: rgba(255, 199, 0, 1); }
.Color-Theme-4-3-rgba { color: rgba(242, 171, 41, 1); }
.Color-Theme-4-4-rgba { color: rgba(242, 123, 79, 1); }
.Color-Theme-4-5-rgba { color: rgba(242, 101, 101, 1); }

/* Color Theme Swatches in HSLA */
.Color-Theme-4-1-hsla { color: hsla(30, 100, 89, 1); }
.Color-Theme-4-2-hsla { color: hsla(46, 100, 50, 1); }
.Color-Theme-4-3-hsla { color: hsla(38, 88, 55, 1); }
.Color-Theme-4-4-hsla { color: hsla(15, 86, 63, 1); }
.Color-Theme-4-5-hsla { color: hsla(0, 84, 67, 1); }


.Swanlake {
    background-color: #F26666;
}

.Nutcracker {
    background-color: #F27B50;
}

.Giselle {
    color: #F2AC29;
}

